{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
     
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Poetry World Building: Create a World</h1>
              <p class="mb-0">A creative implementation of <a href="https://www.youtube.com/watch?v=3m6o4Vg_SZg">Ed Steck's poetic world building process.</a> </p>
          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-3 col-sm-3">
                          <!-- Form -->
                          <div class="mb-1">
                              <label for="category">Category</label>
                              <input type="text" class="form-control" id="category" aria-describedby="categoryHelp">
                              <small id="emailHelp" class="form-text text-muted">animals, climates, locations, objects... etc</small>
                          </div>
                      

                         
                    

                          <div class="mb-4">
                              <label for="category">Options</label>
                              <input type="text" class="form-control" id="options" aria-describedby="optionHelp">
                              <small id="optionHelp" class="form-text text-muted">4 animals, 8 climates- make it less than 50</small>
                          </div>
                          <!-- Checkboxes -->
                          <div class="mb-3">
                              <span class="h6 fw-bold">Checkboxes Round</span>
                          </div>
                    </div>
              </div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
