{% extends "layouts/base.html" %}

{% block title %} Populate world {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block script %}
<script>
  
  function prob(){
  
    {% for w in gen.data.keys() %}
      {% set max = gen.data[w] | int %}
     max = {{max}};
     r = Math.floor((Math.random() * max)+1);
     $("#c_{{w}}").val(r);

     $("#ct_{{w}}").text(r);
    
    {% for i in range(max) %}
    r = Math.floor((Math.random() * max)+1);
    
    $("#p_{{w}}_{{i}}").text(r);
    $("#pb_{{w}}_{{i}}").val(r);
    {%endfor%}
    {%endfor%}
     $("#populate").prop('disabled', false);
  
  return false;
  }

</script>
{% endblock script %}
{% block content %}


  <div class="row">
    <form method="post" action="/populate/" name="form">
      <input type="hidden" value="{{gen.id}}" name="world_id"/>
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
              
                  <div class="row mb-8">
                     <div class="col-lg-6">
                      <h2>Populate the world</h2>
                        <!-- <label for="email">Name </label> --->
                        <input type="hidden" class="form-control" value="{{gen.name}}-World" id="name" name="name"/>
                        <br>
                        
                      </div>
                      <div class="col-lg-8">
                          <!-- Form -->
                          {% for w in gen.data.keys() %}
                          {% set max = gen.data[w] | int %}
                            <input type="hidden" name="c_{{w}}_{{max}}" id="c_{{w}}" value="">
                             <div class="input-group">
                              <label >{{max}} {{w}}</label> ->
                              <span  id="ct_{{w}}" name="ct_{{w}}"> # 
                        </span>

                              </div>
                              <br>
                              {% for i in range(max) %}
                               <div class="input-group">
                                <input type="text" class="form-control" id="i_{{w}}_{{i}}" name="i_{{w}}_{{i}}"><br>
                                <input type="hidden" name="pb_{{w}}_{{i}}" id="pb_{{w}}_{{i}}"><br>
                                  <span class="input-group-text" id="p_{{w}}_{{i}}" name="p_{{w}}_{{i}}">
                                      #
                                  </span>
                              </div>
                              <br>

                              {% endfor %}
                          
                          {% endfor %}
                          <a id="generate"  href="#" class="btn btn-primary" onclick="prob()">Generate Probabilities</a>
                          <a id="populate" class="btn btn-secondary" onclick="javascript:$(this).closest('form').submit()" disable>Populate World</a>
                      </div>  
                  </div>
              </div>
          </div>
      </div>
    </form>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
