{% extends "layouts/base.html" %}



<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block script %}
<script>
  var c = 2;
  function add(){
    if (c == 2){
      $("#addcat"+c).removeClass("hide");
    }else{
      let $newitem = $("#addcat2").clone();
      let oldc = c-1;
      console.log(oldc);
      //newitem.find("category2").attr(id,"category"+c);
      $newitem.attr("id","addcat"+c);
      $newitem.find("#category2").val("");
      $newitem.find("#options2").val("");
      $newitem.find("#category2").attr("name","category"+c);
      $newitem.find("#options2").attr("name","options"+c);
      
      $newitem.find("#category2").attr("id","category"+c);
      $newitem.find("#options2").attr("id","options"+c);
            $newitem.insertAfter($("#addcat"+oldc));
     
    }
    c += 1; 
  }
</script>
{% endblock script %}
{% block content %}



  <div class="row">
      <div class="col-8 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <!-- Form -->
<!--                          <div class="mb-4">
                             Populate Existing World
                              <select class="form-select" id="country" aria-label="Default select example" onchange="this.options[this.selectedIndex].value && (window.location='/world/'+this.options[this.selectedIndex].value);">
                                  <option selected>Select a world</option>
                                  {% for i in worlds %}
                                        <option value="{{i}}">{{worlds[i]}}</option>
                                  {% endfor %}

                              </select>
                               
                          </div>-->
                      </div>
                  </div> 
                  <form method="post" action="/world/">
                    <div class="row">
                      <div class="col-lg-8">
                         <div class="mb-4">
                            <h3>Create a new world</h3>
                            <label for="category">World Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Middle Earth">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row" id="addcat1">
                      <div class="col-lg-4">
                         <div class="mb-1">
                                <label for="category">Category</label>
                                <input type="text" class="form-control" name="category1" id="category1" aria-describedby="categoryHelp">
                                <small id="help" class="form-text text-muted">animals, climates, locations, objects... etc</small>
                          </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="mb-2">
                                <label for="category">Items</label>
                                <input name="options1" type="number" class="form-control" id="options1" aria-describedby="optionHelp">
                                <small id="optionHelp" class="form-text text-muted">The number of items in your category (e.g.  4 plants).</small>
                            </div>
                           
                        </div>
                      </div>
                      <div class="row hide" id="addcat2">
                      <div class="col-lg-4">
                         <div class="mb-1">
                                <input type="text" name="category2" class="form-control" id="category2" aria-describedby="categoryHelp">
                                
                          </div>
                        </div>
                      
                        <div class="col-lg-2">
                            <div class="mb-2">
                                <input type="number" name="options2" class="form-control" id="options2" aria-describedby="optionHelp">                            
                            </div>
                           
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="mb-1">

                                 <button class="btn btn-success" type="button"  onclick="add()">Add Another Category </button>
                          </div>
                        </div>
                      </div>
                        
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="mb-1">

                            <button class="btn btn-primary" type="submit" ">Generate</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
