
<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
            <div class="nav-wrapper position-relative">
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 {{gen=='generate' and 'active'}}"  href="/">Generate Worlds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 {{gen=='populate' and 'active'}}""  href="/populate/">Populate Worlds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 {{gen=='read' and 'active'}}"" href="/read/">
             Read Worlds</a>
        </li>
      
    </ul>
</div>
</nav>
