<div class="nav-wrapper position-relative">
    <h1>Poetry World Building: 1</h1>
    <h3>You can <a class="link-success" href="/">MAKE WORLDS</a> or <a class="link-success" href="/read/">READ WORLDS</a></h3>
    
    <h4>How to make a world?</h4>
        <p>What is a world? For this conversation anything bounded:
  a solar system, a cell, a company, a pond.</p><p>(references: Carnap, the phenomenologists, the set theorists, and people like Gabriel Markus who says <a href="https://www.goodreads.com/book/show/25890000-why-the-world-does-not-exist">worlds do not exist</a>.)</p>
  <ul> <b>Step 1:</b>
    <li>Give your world a name, a number of categories like plants, animals, chemicals, colors, etc.</li>
    <li>Give your world items in those categories: 4 plants, 3 chemicals.
    </li>
  </ul>
  <ul><b>Step 2:</b>
    <li>Populate your world. You have 4 animals now write what those four animals are. 
    </li>
    <li>Click the Generate Probabilities button. This will determine what items are in which world.</li></ul>
<ul><b>Step 3:</b>
    <li>Cultivate your world, this could also be write your poem.</li>
    <li>You can also copy another world and base your poem on that.</li>
</ul>
               
</div>