<div class="nav-wrapper position-relative">
    <h1>Poetry World Building: Episode One</h1>
    <h3><a class="link-success" href="/">MAKE WORLDS</a> AND <a class="link-success" href="/read/">READ WORLDS</a></h3>
    
    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h4 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        What is going on here?
      </button>
    </h4>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
        <p>What is a world? For this conversation anything bounded:
  a solar system, a cell, a company, a pond.</p><p>(references: Carnap, the phenomenologists, the set theorists, and people like Gabriel Markus who says <a href="https://www.goodreads.com/book/show/25890000-why-the-world-does-not-exist">worlds do not exist</a>.)</p>
  <ul> <b>Step 1:</b>
    <li>Give your world a name, categories like plants, animals, chemicals, colors, etc.</li>
    <li>Give your world items in those categories: 4 names of plants, 3 names of chemicals.
    </li>
  </ul>
  <ul><b>Step 2:</b>
    <li>Populate your world. You have 4 animals now write what those four animals are. 
    </li>
    <li>Click the Generate Probabilities button. This will determine what items are in which world... kinda -its wonky - like our own world</li></ul>
<ul><b>Step 3:</b>
    <li>Write your world.  This could also be called poetry or fiction or something new. </li>
    <li>You can also clone another world and base your writing on that. In the programming biz we also call this forking. But I like to think of it as perhaps different bards telling different reditions of the same tale. </li>
</ul>
      </div>
    </div>
  </div>
   <br>
               
</div>